{{- /* Person Schema */}}
{{- $alternateNames := slice "shagunattri" "Shagun Attri" -}}
{{- $knowsAbout := slice "Harness STO" "Security Testing Orchestration" "Harness AppSec" "Application Security" "AppSec" "ASPM" "RBVM" "DevSecOps" "Cybersecurity" "Product Management" -}}
{{- $personSchema := dict "@type" "Person" "name" .Site.Author.name "url" .Site.BaseURL "alternateName" $alternateNames "jobTitle" "Staff Product Manager" "worksFor" (dict "@type" "Organization" "name" "Harness" "url" "https://harness.io") "knowsAbout" $knowsAbout -}}

{{- /* Add social links */}}
{{- $sameAs := slice "https://www.linkedin.com/in/shagunattri/" -}}
{{- if .Site.Params.social -}}
    {{- range .Site.Params.social -}}
        {{- if or (eq .name "linkedin") (eq .name "twitter") (eq .name "github") -}}
            {{- if not (in $sameAs .url) -}}
                {{- $sameAs = $sameAs | append .url -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $personSchema = merge $personSchema (dict "sameAs" $sameAs) -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {{ $personSchema | jsonify (dict "indent" "  ") | safeJS }}
}
</script>
