<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}

            {{- /* Visual breadcrumb navigation */}}
            {{ partial "breadcrumbs-visual.html" . }}

            <div class="content-wrapper">
                <div class="content">
                    {{ block "main" . }}{{ end }}
                </div>
                
                {{ if and (not .IsHome) (or .IsPage (eq .Type "page")) }}
                    {{ partial "toc-sidebar.html" . }}
                {{ end }}
            </div>
        </div>

        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "javascript.html" . }}
    </body>
</html>
