{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>
        <div class="post-info">
            <p>There are RSS feeds for <i>all</i> of the categories and tags here. If you want to subscribe to one of them, navigate to that list and <a href="index.xml">click here</a>; it'll take you to that specific feed.</p>
        </div>
        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}
        <div class="categories">
            <!-- <h3>Tags</h3> -->
            {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
                <a href="{{.Permalink}}">
                    <span class="categories-button" >{{.Title}}</a></span>
                </a>
            {{end}}
        </div>
        {{ range $paginator.Pages.GroupByDate "2006" }}

            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}" class="post-item-inner">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
