{{ partial "header" (dict "myTitle"  "CustomTitle" "myDate" "CustomDate") }}


<h1 style="color: {{ .Params.color}};">Single Template</h1>

<!-- Data Files -->
{{ range .Site.Data.sample }}
    {{.name}} <br>
    {{.email}} <br>
{{end}}

<br>
<hr>


<!-- Conditionals -->
{{ $var1 := "dog" }}
{{ $var2 := "cat" }}

{{if not (eq $var1 $var2) }}   
<!-- eq not lt gt le ge -->
    True
{{else}}
    False
{{end}}

<br>

<hr>

{{ $title := .Title }}
{{ range .Site.Pages }}
    <li><a href="{{.URL}}" style="{{ if eq .Title $title }} background-color:yellow;{{end}}">>{{.Title}}</a></li>
{{end}}

<hr>

<!-- Variable and Parameters -->
{{ .Title }}
<br>
{{ .Date }}
<br>
{{ .URL }}
<br>
{{ .Params.author}}
<br>
{{ .Params.myVar}}

{{ $myVarName := "ID10t"}}

<h1>{{ $myVarName }}</h1>

<hr>

<!-- functions -->
{{ truncate 15 "This is a really long string"}}
<br>
{{ add 1 24}}
<br>
{{ sub 1 5 }}
<br>
{{ singularize "pets"}}

