{{- /* Head partial - Modularized SEO */}}

{{- /* SEO Meta tags (title, description, OG, Twitter) */}}
{{ partial "seo/meta.html" . }}

<!-- Google Fonts - Flex & Sans Flex -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400;500;600;700&family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<!-- CSS -->
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ range $val := $.Site.Params.customCSS }}
    {{ if gt (len $val) 0 }}
        <link rel="stylesheet" type="text/css" href="{{ $val }}">
    {{ end }}
{{ end }}

<!-- Icons -->
{{- partial "favicons.html" . }}

{{ if isset .Site.Taxonomies "series" }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- Custom head tags -->
{{- if templates.Exists "partials/extra-head.html" -}}
    {{ partial "extra-head.html" . }}
{{- end }}

<!-- Plausible.io -->
{{- if $.Site.Params.plausibleDataDomain }}
    <script defer data-domain="{{ .Site.Params.plausibleDataDomain }}" src="{{ .Site.Params.plausibleScriptSource }}"></script>
{{- end}}

{{- /* Schema.org JSON-LD */}}
{{- if .IsHome -}}
    {{- /* Homepage schemas */}}
    {{ partial "seo/schema-organization.html" . }}
    {{ partial "seo/schema-website.html" . }}
    {{ partial "seo/schema-person.html" . }}
{{- else -}}
    {{- /* Non-homepage schemas */}}
    {{ partial "seo/schema-breadcrumb.html" . }}
    {{ partial "seo/schema-article.html" . }}
    {{ partial "seo/schema-faq.html" . }}
{{- end -}}
