<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="twitter:image" content="{{ .Params.Cover }}" />
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:site_name" content="{{ $.Site.Title }}">
<meta property="og:image" content="{{ .Params.Cover }}" />
