{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $loading := .loading | default "lazy" -}}

{{- $img := resources.Get (printf "images/%s" $src) -}}

{{- if $img -}}
    {{- $webp := $img.Process "webp" -}}
    {{- $small := $img.Resize "400x webp" -}}
    {{- $medium := $img.Resize "800x webp" -}}
    
    <picture>
        <source srcset="{{ $small.RelPermalink }} 400w, {{ $medium.RelPermalink }} 800w, {{ $webp.RelPermalink }} 1200w" 
                sizes="(max-width: 684px) 100vw, 400px" 
                type="image/webp">
        <img src="{{ $webp.RelPermalink }}" 
             alt="{{ $alt }}" 
             class="{{ $class }}" 
             loading="{{ $loading }}" 
             width="{{ $img.Width }}" 
             height="{{ $img.Height }}">
    </picture>
{{- else -}}
    <img src="{{ (printf "images/%s" $src) | relURL }}" alt="{{ $alt }}" class="{{ $class }}" loading="{{ $loading }}">
{{- end -}}
