{{ define "main" }}
    <main aria-role="main">
        <div>
            <figure>
                <img src="" position="center" style="border-radius: 8px;"/>
              </figure>
              <!-- <h4>{{ .Site.Title }}</h4>               -->
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
            {{ end }}
            {{ if eq $title "Dungeons & Dragons" }}
            {{ $taxo := "dnd" }}
            {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
            {{ range .Pages }}
            <div class="posts-group">
                <div class="post-year">{{ .Date.Format "2006" }}</div>
                <ul class="posts-list">
                    {{ range .Pages.ByParam "dnd" }}
                    <li class="post-item">
                        <a href="{{.Permalink}}">
                            <span class="post-title">{{.Title}}</span>
                            <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ end }}
            {{- if .Content }}
                <div class="content">{{ .Content }}</div>
            {{- end }}
            {{ else }}
            {{- range .Data.Pages.GroupByDate "2006" }}
                <div class="posts-group">
                    <div class="post-year">{{ .Key }}</div>
                    <ul class="posts-list">
                        {{- range .Pages }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                                </a>
                            </li>
                        {{- end }}
                    </ul>
                </div>
            {{- end }}
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
